html{
    background-color: #ffffff;
}
body{
    width: 21.59cm;
    height: 27.94cm;
    margin: 0 auto;
    
}

p{
    margin: 0;
}

.header{
    padding: 0;
}

#invoice{
    margin: 5.9px;
    background-color: #eee;
}

#logo{
    display: inline-block;
    width: 5cm;
    height: 5cm;
    margin: 0 1cm 0 .1cm;
}

#datosEmpresa { 
    position: relative;
    display: inline-block;
    font-size: 12px;
    margin: .3cm 1.5cm 0 0;
    vertical-align: top;
}

#datosEmpresa * {
    display: block;
}

#domicilioFiscal{
    text-decoration: underline;
}

#datosEmpresa strong{
    font-size: 14px;
}

#datosFactura{
    width: 8cm;
    height: 4cm;
    border: 3px solid #000;
    display: inline-block;
    letter-spacing: .1px;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    padding: 4px 0;
    position: relative;
    vertical-align: top;
    margin-top: .1cm;
}

#datosFactura strong{
    font-size: 14px;
}

#datosFactura p{
    margin: 0;
}

#datosCliente{
    margin-top: 1cm;
}

#columna1{
    display: inline-block;
    text-align: left;
}

#columna2{
    display: inline-block;
}

#columna3{
    display: inline-block;
}

#columnaIzquierda{
    display: inline-block;
}

#columnaIzquierda * {
    display: block;
}

#columnaDerecha{
    display: inline-block;
}
